<main role="main">
    <div class="single-pro-review-area mt-t-30 mg-b-15">
        <div class="container-fluid">
            <div class="row">
                <div *ngIf="!livraison" class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                  </div>
                <div *ngIf="livraison" class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <div class="product-payment-inner-st res-mg-t-30 analysis-progrebar-ctn">
                        <ul id="myTabedu1" class="tab-review-design">
                            <li [ngClass]="one? 'active':''"><a (click)="changeBoard('1')" >Détails</a></li>
                            <li [ngClass]="two? 'active':''"><a (click)="changeBoard('2')"> Etat</a></li>
                            <li [ngClass]="tree? 'active':''"><a (click)="changeBoard('3')"> Lieu</a></li>
                            <li [ngClass]="four? 'active':''"><a (click)="changeBoard('4')" >Transit</a></li>
                            <li [ngClass]="five? 'active':''"><a (click)="changeBoard('5')" >Mettre à jour</a></li>
                        </ul>
                        <div id="myTabContent" class="tab-content custom-product-edit st-prf-pro">
                            <div *ngIf="one" class="product-tab-list tab-pane fade active in" id="description">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="review-content-section">
                                            <div class="row">
                                                <li class="list-group-item">
                                                    Libelle: <strong>{{ livraison?.etatLivraison['libelle'] }}</strong> <br>
                                                    Date de livraison demandée par la BB: <strong>{{livraison?.dateLivrDemandeeParBB}}</strong><br>
                                                    Date de report après echec Livraison: <strong>{{livraison?.dateReportApresEchecDeLivr}}</strong><br>
                                      Date de comfirmation du fournisseur: <strong>{{livraison?.dateComfirmationFournisseur}}</strong><br>
                                    Date de livraison effective à la BB: <strong>{{livraison?.dateLivrEffectiveBB}}</strong><br>
                                      Date de début de stationnement: <strong>{{livraison?.dateDebStationnement}}</strong><br>
                                      Date de début de Sures: <strong>{{livraison?.dateDebSures}}</strong><br>
                                      Délai entre la date arrivé et la date de livraison: <strong>{{livraison?.delaiDateArrDateLivr}}</strong><br>
                                      Nombre de jour de stationnement subi: <strong>{{livraison?.nombreJourDeStationnementSubi}}</strong><br>
                                      Nombre de jour de sures subi: <strong>{{livraison?.nombreJourSuresSubi}}</strong><br>
                                      commentaires par rapport à la livraison: <strong>{{livraison?.commentaires}}</strong><br>
                                                   </li>
                                            </div>
                                           
 
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="two" class="product-tab-list " id="reviews">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="review-content-section">
                                            <div class="chat-discussion" style="height: auto">
                                                 
                                                <li class="list-group-item">Libelle: {{ livraison?.etatLivraison['libelle'] }} </li>
              <li class="list-group-item">
                <a routerLink="/etatsLivraisons/{{ livraison?.etatLivraison['id'] }}" routerLinkActive="router-link-active" class="card-link">autres livraison avec ce état</a>
              </li>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="tree" class="product-tab-list " id="reviews">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="review-content-section">
                                            <div class="chat-discussion" style="height: auto">
                                                 
                                                <li class="list-group-item">Libelle: {{ livraison?.lieuLivraison['libelle'] }} </li>
              <li class="list-group-item">
                <a routerLink="/lieuxLivraisons/{{ livraison?.lieuLivraison['id'] }}" routerLinkActive="router-link-active" class="card-link">autres livraison ayant été fait à cet lieu</a>
              </li>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="four" class="product-tab-list " id="reviews">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="review-content-section">
                                            <div class="chat-discussion" style="height: auto">
                                                 
                                                <li class="list-group-item">Contenance: {{ livraison?.transit['contenance'] }} </li>
                                                <li class="list-group-item">
                                                  <a routerLink="/transits/{{ livraison?.transit['id'] }}" routerLinkActive="router-link-active" class="card-link">voir le transit concerné</a>
                                                </li>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="five" class="product-tab-list " id="INFORMATION">
                                
                                
                                <form (ngSubmit)="onSubmit(livraisonUpdateForm)" #livraisonUpdateForm="ngForm" name=livraisonUpdateForm>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="">date de livraison demandée par la BB</label>
                                                <input name="dateLivrDemandeeParBB" [(ngModel)]="livraison.dateLivrDemandeeParBB" type="date" class="form-control" value="{{livraison?.dateLivrDemandeeParBB}}">
                                            </div>
                                            <div class="form-group">
                                                <label for="">Date de report suite à un echec</label>
                                                <input name="dateReportApresEchecDeLivr" [(ngModel)]="livraison.dateReportApresEchecDeLivr" type="date" class="form-control" value="{{livraison?.dateReportApresEchecDeLivr}}" placeholder="{{livraison?.dateReportApresEchecDeLivr}}">
                                            </div>
                                            <div class="form-group">
                                                <label for="">Date de comfirmation du fournisseur(société)</label>
                                                <input name="dateConfirmationFournisseur" [(ngModel)]="livraison.dateComfirmationFournisseur" type="date" class="form-control" value="{{livraison?.dateComfirmationFournisseur}}" placeholder="{{livraison?.dateComfirmationFournisseur}}">
                                            </div>
                                            <div class="form-group">
                                                <label for="">date de livraison efdective à la BB</label>
                                                <input name="dateLivrEffectiveBB" [(ngModel)]="livraison.dateLivrEffectiveBB" type="date" class="form-control" value="{{livraison?.dateLivrEffectiveBB}}" placeholder="{{livraison?.dateLivrEffectiveBB}}">
                                            </div>
                                            <div class="form-group">
                                                <label for="">date de debut de stationnement</label>
                                                <input name="dateDebStationnement" [(ngModel)]="livraison.dateDebStationnement" type="date" class="form-control" value="{{livraison?.dateDebStationnement}}" placeholder="{{livraison?.dateDebStationnement}}">
                                            </div>
                                            <div class="form-group">
                                                <label for="">date de début de Sures</label>
                                                <input name="dateDebSures" [(ngModel)]="livraison.dateDebSures" type="date" class="form-control" value="{{livraison?.dateDebSures}}" placeholder="{{livraison?.dateDebSures}}">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="inputState">transit</label>
                                                <select [(ngModel)]="livraison.transit.id" name="transit_id" class="form-control">
                                                  <option *ngFor="let transit of transits" [(ngValue)]="transit.id">franchise: {{transit.franchise}}|contenace: {{transit.contenance}}|Arrivée: {{transit.dateArrivee}}</option>
                                                </select>
                                              </div>
                                              <div class="form-group">
                                                  <label for="inputState">etat</label>
                                                  <select [(ngModel)]="livraison.etatLivraison.id" name="etats_livraison_id" class="form-control">
                                                    <option *ngFor="let etatLivraison of etatsLivraisons" [(ngValue)]="etatLivraison.id">{{etatLivraison.libelle}}</option>
                                                  </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputState">lieu</label>
                                                    <select [(ngModel)]="livraison.lieuLivraison.id" name="lieux_livraison_id" class="form-control">
                                                      <option *ngFor="let lieuLivraison of lieuxLivraisons" [(ngValue)]="lieuLivraison.id">{{lieuLivraison.libelle}}</option>
                                                    </select>
                                                  </div>
                                            <div class="form-group">
                                                <label for="">nombre de jour de stationnement</label>
                                                <input name="nombreJourDeStationnementSubi" [(ngModel)]="livraison.nombreJourDeStationnementSubi" type="text" class="form-control" value="{{livraison?.nombreJourDeStationnementSubi}}" placeholder="{{livraison?.nombreJourDeStationnementSubi}}">
                                            </div>
                                            <div class="form-group">
                                                <label for="">nombre de jour de sures</label>
                                                <input name="nombreJourDeSuresSubi" [(ngModel)]="livraison.nombreJourSuresSubi" type="text" class="form-control" value="{{livraison?.nombreJourSuresSubi}}" placeholder="{{livraison?.nombreJourSuresSubi}}">
                                            </div>
                                            <div class="form-group">
                                                <label for="">delai entre la date d'arrivee et la date de livraison</label>
                                                <input name="delaiDateArrDateLivr" [(ngModel)]="livraison.delaiDateArrDateLivr" type="number" class="form-control" value="{{livraison?.delaiDateArrDateLivr}}" placeholder="{{livraison?.delaiDateArrDateLivr}}">
                                            </div>
                                            <div class="form-group">
                                                <label for="">commentaires</label>
                                                <input name="commentaires" [(ngModel)]="livraison.commentaires" type="text" class="form-control" value="{{livraison?.commentaires}}" placeholder="{{livraison?.commentaires}}">
                                            </div>
                                          </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="payment-adress mg-t-15">
                                                <button type="submit" class="btn btn-primary waves-effect waves-light mg-b-15">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
