<main role="main">
    <!-- <div class="py-5 bg-light">
      <div class="container">
        <div *ngIf="isLoading" class="spinner">
          <div class="double-bounce1"></div>
          <div class="double-bounce2"></div>
        </div>
        <div class="row">
          <div class="col-md-4" *ngFor="let livraison of livraisons">
            <div class="card mb-4 box-shadow">
              <div class="card-header">
                <h4 class="my-0 font-weight-normal">Livraison n°{{ livraison?.id}}</h4>
              </div>
              <div class="card-body">
                <p class="mt-3 mb-4">
                  rue: {{ livraison?.rue }}
                  quartier: {{ livraison?.quartier }}
                </p>
                <button routerLink="/livraisons/{{ livraison?.id }}" type="button" class="btn btn-lg btn-block btn-outline-primary">Plus de détails</button>
              </div>
            </div>
          </div>
          <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <div class="card-header">
                  <h4 class="my-0 font-weight-normal">Ajouter</h4>
                </div>
                <div class="card-body">
                  <button routerLink="/livraisons/{{ livraison?.id }}" type="button" class="btn btn-lg btn-block btn-outline-primary">Ajouter une livraison</button>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div> -->
    <div *ngIf="isLoading" class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
      </div>
       <form>
        <div class="form-group row">
          <label for="search" class="col-sm-2 col-form-label">{{sfilter}}</label>
          <div *ngIf="etat" class="col-sm-8">
              <label for="inputState">Etat</label>
              <select  class="form-control">
                <option  (click)="searchetats_livraison_id(1)">Livré</option>
                <option  (click)="searchetats_livraison_id(2)">En attente</option>
              </select>
          </div>
          <div *ngIf="datlivBB" class="col-sm-8">
              <label >date inferieur</label>
            <input [(ngModel)]="searchTextA" [ngModelOptions]="{standalone: true}" placeholder="date inferieur" type="date" class="form-control"
              id="searchA" >
              <label >date supérieur</label>
            <input [(ngModel)]="searchTextB" [ngModelOptions]="{standalone: true}" placeholder="date supérieur" type="date" class="form-control"
              id="searchB" >
              <button (click)="searchLivraisonsdatlivBB(searchTextA,searchTextB)" class="btn btn-success btn-lg">rechercher</button>
          </div>
          <div *ngIf="datlivPrevu" class="col-sm-8">
              <label >date inferieur</label>
            <input [(ngModel)]="searchTextA" value="searchTextA" [ngModelOptions]="{standalone: true}" placeholder="date inferieur" type="date" class="form-control"
              id="searchA" >
              <label >date supérieur</label>
            <input [(ngModel)]="searchTextB" value="searchTextB" [ngModelOptions]="{standalone: true}" placeholder="date supérieur" type="date" class="form-control"
              id="searchB" >
              <button (click)="searchLivraisonsdatlivPrevu(searchTextA,searchTextB)" class="btn btn-success btn-lg">rechercher</button>
          </div>
          <div class="col-sm-2">
            <div ngbDropdown class="d-inline-block">
              <button (click)="sdrop=!sdrop" class="btn btn-primary" id="dropdownBasicFilter" ngbDropdownToggle>filtre</button>
              <div *ngIf="sdrop"  (click)="getLivraisons();sdrop=!sdrop;search('tout');" ngbDropdownMenu aria-labelledby="dropdownBasicFilter">
                <button class="btn btn-default" >tout</button>
              </div>
              <div *ngIf="sdrop"  (click)="search('etat');sdrop=!sdrop;" ngbDropdownMenu aria-labelledby="dropdownBasicFilter">
                <button class="btn btn-default" >état</button>
              </div>
              <div *ngIf="sdrop" (click)="search('datlivBB');sdrop=!sdrop" ngbDropdownMenu aria-labelledby="dropdownBasicFilter">
                <button class="btn btn-default">Date de livraison à la BB</button>
              </div>
              <div *ngIf="sdrop" (click)="search('datlivPrevu');sdrop=!sdrop" ngbDropdownMenu aria-labelledby="dropdownBasicFilter">
                <button class="btn btn-default">Date de livraison prévu</button>
              </div>
            </div>
          </div>
        </div>
      </form> 
    <div class="product-status mg-b-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  
                    <div class="product-status-wrap drp-lst">
                        <h4>List des Livraisons</h4>
                        <div class="add-product">
                            <a title="Ajouter une Livraison" [routerLink]="['/livraisonsAdd']" routerLinkActive="active" >Ajouter une livraison</a>
                        </div>
                        <div class="asset-inner">
                            <table>
                                <tbody><tr>
                                    <th>No</th>
                                    <th>Etat</th>
                                    <th>Stationnement(Jours)</th>
                                    <th>Délai(jour)</th>
                                    <th>Livraison Prévu</th>
                                    <th>Livraison à la BB</th>
                                    <th>Comfiramtion Fournisseur</th>
                                    <th>Début de Stationnement</th>
                                    <th>Début de Sures</th>
                                </tr>
                                <tr *ngFor="let livraison of livraisons">
                                    <td>{{ livraison?.id}}</td>
                                    <td *ngIf="livraison?.etats_livraison_id==1"><button class="pd-setting">Livré</button></td>
                                    <td *ngIf="livraison?.etats_livraison_id!=1"><button class="ds-setting">En Attente</button></td>
                                    <td>{{ livraison?.nombreJourDeStationnementSubi}}</td>
                                    <td>{{ livraison?.delaiDateArrDateLivr}}</td>
                                    <td>{{ livraison?.dateLivrDemandeeParBB}}</td>
                                    <td>{{ livraison?.dateLivrEffectiveBB}}</td>
                                    <td>{{ livraison?.dateConfirmationFournisseur}}</td>
                                    <td>{{ livraison?.dateDebStationnement}}</td>
                                    <td>{{ livraison?.dateDebSures}}</td>
                                    <td>
                                        <button [routerLink]="['/livraisons/'+livraison?.id]" routerLinkActive="active" (click)="setTitle('Livraisons')" data-toggle="tooltip" title="" class="pd-setting-ed" data-original-title="Edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                        <button data-toggle="tooltip" title="" class="pd-setting-ed" data-original-title="Trash"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                    </td>
                                </tr>
                            </tbody></table>
                        </div>
                        <!-- <div class="custom-pagination">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                </ul>
                            </nav>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
  </main>
  