<main role="main">
  <div class="courses-area">
      <div class="container-fluid">
          <div class="row">
              <div *ngIf="isLoading" class="spinner">
                  <div class="double-bounce1"></div>
                  <div class="double-bounce2"></div>
                </div>
              <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" *ngFor="let etatsLivraison of lieuxLivraisons">
                  <div class="courses-inner res-mg-b-30">
                      <div class="courses-title">
                          <a href="#"><img src="assets/img/product/book-2.jpg" alt=""></a>
                          <h2>{{ etatsLivraison?.libelle }}</h2>
                      </div>
                      <!-- <div class="courses-alaltic"> -->
                          <!-- <span class="cr-ic-r"><span class="course-icon"><i class="fa fa-clock"></i></span> Contenance: {{etatsLivraison?.contenanceTotale}}</span> -->
                          <!-- <span class="cr-ic-r"><span class="course-icon"><i class="fa fa-heart"></i></span> 50</span>
                          <span class="cr-ic-r"><span class="course-icon"><i class="fa fa-dollar"></i></span> 500</span> -->
                      <!-- </div> -->
                      <!-- <div class="course-des">
                          <p><span><i class="fa fa-clock"></i></span> <b>Duration:</b> 6 Months</p>
                          <p><span><i class="fa fa-clock"></i></span> <b>Professor:</b> Jane Doe</p>
                          <p><span><i class="fa fa-clock"></i></span> <b>Students:</b> 100+</p>
                      </div> -->
                      <div class="product-buttons">
                          <button [routerLink]="['/lieuxLivraisons/'+etatsLivraison?.id]" routerLinkActive="active"   type="button" class="button-default cart-btn"  data-toggle="tooltip" title="" class="pd-setting-ed" data-original-title="Edit">Read More</button>
                      </div>
                  </div>
              </div>
              
              
              
          </div>
          
      </div>
  </div>

</main>
