<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" [routerLink]="['/']" (click)="setTitle('Custom Bikes Garage')">Custom Bikes Garage</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item">
              <div ngbDropdown class="d-inline-block">
                <button class="btn btn-secondary" id="dropdownBasic1" ngbDropdownToggle>Services</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <a class="btn" [routerLink]="['/lieuxLivraisons']" routerLinkActive="active" (click)="setTitle('lieuxLivraison')">lieuxLivraison</a>
          <a class="btn" [routerLink]="['/adresses']" routerLinkActive="active" (click)="setTitle('adresses')">adresses</a>
          <a class="btn" [routerLink]="['/employes']" routerLinkActive="active" (click)="setTitle('employes')">employes</a>
          <a class="btn" [routerLink]="['/etatsLivraisons']" routerLinkActive="active" (click)="setTitle('etatsLivraisons')">etatsLivraisons</a>
          <a class="btn" [routerLink]="['/Livraisons']" routerLinkActive="active" (click)="setTitle('Livraison')">Livraison</a>
          <a class="btn" [routerLink]="['/marchandises']" routerLinkActive="active" (click)="setTitle('marchandises')">marchandises</a>
          <a class="btn" [routerLink]="['/navires']" routerLinkActive="active" (click)="setTitle('navires')">navires</a>
          <a class="btn" [routerLink]="['/profils']" routerLinkActive="active" (click)="setTitle('profils')">profils</a>
          <a class="btn" [routerLink]="['/reinitialiserMotDePasses']" routerLinkActive="active" (click)="setTitle('reinitialiserMotDePasses')">reinitialiserMotDePasses</a>
          <a class="btn" [routerLink]="['/societes']" routerLinkActive="active" (click)="setTitle('societes')">societes</a>
          <a class="btn" [routerLink]="['/transits']" routerLinkActive="active" (click)="setTitle('transits')">transits</a>
          <a class="btn" [routerLink]="['/typeMarchandises']" routerLinkActive="active" (click)="setTitle('typeMarchandises')">typeMarchandises</a>
                  
                </div>
              </div>
            </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/bikes']" routerLinkActive="active" (click)="setTitle('Bikes')">Bikes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/builders']" routerLinkActive="active" (click)="setTitle('Builders')">Builders</a>
        </li>
        <li *ngIf="!auth.isAuthenticated()" class="nav-item">
          <a class="nav-link" [routerLink]="['/login']" routerLinkActive="active" (click)="setTitle('Login')">Login</a>
        </li>
        <li *ngIf="!auth.isAuthenticated()" class="nav-item">
          <a class="nav-link" [routerLink]="['/register']" routerLinkActive="active" (click)="setTitle('Register')">Register</a>
        </li>
        <li *ngIf="auth.isAuthenticated()" class="nav-item">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-secondary" id="dropdownBasic1" ngbDropdownToggle>{{ auth.currentUser?.name  }}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button class="dropdown-item" (click)="onLogout();">Logout</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>
