<main role="main">
        <div class="single-pro-review-area mt-t-30 mg-b-15">
                <div class="container-fluid">
                          
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="product-payment-inner-st">
                                <ul id="myTabedu1" class="tab-review-design">
                                    <li class="active"><a >Ajouter un employe</a></li>
                                    
                                    
                                </ul>
                                <div id="myTabContent" class="tab-content custom-product-edit">
                                    <div class="product-tab-list tab-pane fade active in" id="description">
                                        <div class="row">
                                            <div  class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="review-content-section">
                                                        <div *ngIf="isLoading" class="spinner">
                                                                <div class="double-bounce1"></div>
                                                                <div class="double-bounce2"></div>
                                                              </div>
                                                              <div *ngIf="employe&&!isLoading&&(adresses.length==0)" >
                                                                    <p>Désolé aucune adresse ne pourra <br> être affectées à l'employé <br> que vous essayez de creer. Veuillez Ajouter <a [routerLink]="['/AdressesAdd']" routerLinkActive="active" (click)="setTitle('Ajouter une adresse')">une nouvelle adresse </a> Puis revenez ici pour réessayer.</p>
                                                                  </div>  
                                                              <div *ngIf="success&&currSuccess" >
                                                                    <p>Employe ajoutée avec succès! <a [routerLink]="['/employes/'+currSuccess]" routerLinkActive="active" (click)="setTitle('Employé')"></a> Voir l'employé.</p>
                                                                  </div>  
                                                        <form *ngIf="employe&&!isLoading&&(adresses.length>0)" (ngSubmit)="onSubmit(employeAddForm)" #employeAddForm="ngForm" name=employeAddForm>
                                                                <div class="row">
                                                                    <div class="col-lg-6">
                                                                        <div class="form-group">
                                                                            <input name="nom" [(ngModel)]="employe.nom" type="text" class="form-control" value="" placeholder="Nom de l'employé">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <input name="prenom" [(ngModel)]="employe.prenom" type="text" class="form-control" value="" placeholder="Son prénom">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-6">
                                                                      
                                                                        <div class="form-group">
                                                                            <label for="#dateNaiss">Date de naissance</label>
                                                                            <input name="dateNaiss" id="dateNaiss" [(ngModel)]="employe.dateNaiss" type="date" class="form-control" value="" placeholder="">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="inputState">Adresse</label>
                                                                            <select [(ngModel)]="employe.adresse.id" name="adresse_id" class="form-control">
                                                                              <option *ngFor="let adresse of adresses" [(ngValue)]="adresse.id">{{adresse.rue}}|{{adresse.arrondissement}}|{{adresse.quartier}}</option>
                                                                            </select>
                                                                          </div>
                                                                      </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-lg-12">
                                                                        <div class="payment-adress mg-t-15">
                                                                            <button type="submit" class="btn btn-primary waves-effect waves-light mg-b-15">Submit</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </main>