<main role="main">
    <!-- <div class="py-5 bg-light">
      <div class="container">
        <div *ngIf="isLoading" class="spinner">
          <div class="double-bounce1"></div>
          <div class="double-bounce2"></div>
        </div>
        <div class="row">
          <div class="col-md-4" *ngFor="let marchandise of marchandises">
            <div class="card mb-4 box-shadow">
              <div class="card-header">
                <h4 class="my-0 font-weight-normal">Adresse n°{{ marchandise?.id}}</h4>
              </div>
              <div class="card-body">
                <p class="mt-3 mb-4">
                  rue: {{ marchandise?.rue }}
                  quartier: {{ marchandise?.quartier }}
                </p>
                <button routerLink="/marchandises/{{ marchandise?.id }}" type="button" class="btn btn-lg btn-block btn-outline-primary">Plus de détails</button>
              </div>
            </div>
          </div>
          <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <div class="card-header">
                  <h4 class="my-0 font-weight-normal">Ajouter</h4>
                </div>
                <div class="card-body">
                  <button routerLink="/marchandises/{{ marchandise?.id }}" type="button" class="btn btn-lg btn-block btn-outline-primary">Ajouter une marchandise</button>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div> -->
    <div *ngIf="isLoading" class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
      </div>
    <div class="product-status mg-b-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="product-status-wrap drp-lst">
                        <h4>Departments List</h4>
                        <div class="add-product">
                            <a title="Ajouter une Adresse" [routerLink]="['/marchandisesAdd']" routerLinkActive="active" (click)="setTitle('Adresses')">Ajouter une marchandise</a>
                        </div>
                        <div class="asset-inner">
                            <table>
                                <tbody><tr>
                                    <th>No</th>
                                    <th>Libelle</th>
                                </tr>
                                <tr *ngFor="let marchandise of marchandises">
                                    <td>{{ marchandise?.id}}</td>
                                    <td>{{ marchandise?.libelle}}</td>
                                    <td>
                                        <button [routerLink]="['/marchandises/'+marchandise?.id]" routerLinkActive="active"  data-toggle="tooltip" title="" class="pd-setting-ed" data-original-title="Edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                        <button data-toggle="tooltip" title="" class="pd-setting-ed" data-original-title="Trash"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                    </td>
                                </tr>
                            </tbody></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </main>
  