<main role="main">
  <div class="py-5">
    <div class="container">
      <div *ngIf="isLoading" class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
      </div>
      <div class="row" *ngIf="!isLoading">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ employe?.id }} </h5>
              <p class="card-text">Nom: {{ employe?.nom}} <br>
                Prenom: {{ employe?.prenom}} <br>
                Date de naissance: {{ employe?.dateNaiss}} <br>
               </p>
            </div>
            <div class="card-header">
              <strong>Adresse associée</strong>:
            </div>
            <!-- <div class="card-img-top text-md-center">
              <img src="{{ employe?.bike.picture }}" alt="" srcset="">
            </div> -->
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Rue: {{ employe?.adresse['rue'] }} <br>
                Quartier: {{ employe?.adresse['quartier']}}  <br>
                Nom d'Utilisateur: {{ employe?.user['name']}} 
              </li>
              <!-- <li class="list-group-item">Model: {{ employe?.bike.model }} </li>
              <li class="list-group-item">Mods: {{ employe?.bike.mods }} </li>-->
              <li class="list-group-item"> 
                <a routerLink="/adresses/{{ employe?.adresse['id'] }}" routerLinkActive="router-link-active" class="card-link">Détail de l'adresse</a>
                 | <a routerLink="/users/{{ employe?.user['id'] }}" routerLinkActive="router-link-active" class="card-link">Utilisateur</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
