<main role="main">
  <div class="py-5">
    <div class="container">
      <div *ngIf="isLoading" class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
      </div>
      <div class="row" *ngIf="!isLoading">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Adresse n°{{ adresse?.id}} </h5>
              <p class="card-text">
                 rue: {{ adresse?.rue }} <br>
                arrondissement: {{ adresse?.arrondissement }} <br>
                  ville: {{ adresse?.ville }} <br>
                  region: {{ adresse?.region }} <br>
                  pays: {{ adresse?.pays }} </p>
            </div>
            <div class="card-header">
              <strong>Propriétaire</strong>:
            </div>
            <!-- <div class="card-img-top text-md-center">
              <img src="{{ adresse?.bike.picture }}" alt="" srcset="">
            </div> -->
            <ul class="list-group list-group-flush">
                
              <li class="list-group-item">Type: {{ adresse?.employe? "Employé":"Société" }}
                 <!-- |
                <span class="text-secondary">Year: {{ adresse?.bike.year}}</span> -->
              </li>
              <div *ngIf="adresse?.employe">
                  <li class="list-group-item">Nom: {{ adresse?.employe['nom'] }} |
                      Prenom: {{ adresse?.employe['prenom']}}
                    </li>
                  <li class="list-group-item">
                      <a routerLink="/employes/{{ adresse?.employe['id'] }}" routerLinkActive="router-link-active" class="card-link">Voir l'employé associé</a>
                  </li>
                    </div>
              <div *ngIf="!adresse?.employe">
                  <li class="list-group-item">Libellé: {{ adresse?.societe['libelle'] }} </li>
                  <li class="list-group-item">
                      <a routerLink="/societes/{{ adresse?.societe['id'] }}" routerLinkActive="router-link-active" class="card-link">Voir la societe associée</a>
                  </li>
                    </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
