<main role="main">
    <div class="single-pro-review-area mt-t-30 mg-b-15">
            <div class="container-fluid">
                      
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="product-payment-inner-st">
                            <ul id="myTabedu1" class="tab-review-design">
                                <li class="active"><a >Ajouter un transit</a></li>
                                
                                
                            </ul>
                            <div id="myTabContent" class="tab-content custom-product-edit">
                                <div class="product-tab-list tab-pane fade active in" id="description">
                                    <div class="row">
                                        <div  class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="review-content-section">
                                                    <div *ngIf="isLoading" class="spinner">
                                                            <div class="double-bounce1"></div>
                                                            <div class="double-bounce2"></div>
                                                          </div>
                                                          <div *ngIf="sucess&&!!isLoading" >
                                                                <p>Transit ajoutée avec succès! <a [routerLink]="['/transits']" routerLinkActive="active" (click)="setTitle('Sociétés')">Voir les société.</a> </p>
                                                              </div>  
                                                    <form *ngIf="transit&&!isLoading" (ngSubmit)="onSubmit(transitAddForm)" #transitAddForm="ngForm" name=transitAddForm>
                                                        <div class="row">
                                                            <div class="col-lg-6">
                                                                <div class="form-group">
                                                                    <label for="">Franchise</label>
                                                                    <input name="franchise" [(ngModel)]="transit.franchise" type="text" class="form-control" value="{{transit?.franchise}}">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="">Contenance</label>
                                                                    <input name="contenance" [(ngModel)]="transit.contenance" type="text" class="form-control" value="{{transit?.contenance}}" placeholder="{{transit?.contenance}}">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="">Date d'arrivée</label>
                                                                    <input name="dateArrivee" [(ngModel)]="transit.dateArrivee" type="date" class="form-control" value="{{transit?.dateArrivee}}" placeholder="{{transit?.dateArrivee}}">
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <div class="form-group">
                                                                    <label >navire</label>
                                                                    <select [(ngModel)]="transit.navire.id" name="navire_id" class="form-control">
                                                                      <option *ngFor="let navire of navires" [(ngValue)]="navire.id">libelle: {{navire.libelle}}|contenace: {{navire.contenanceTotale}}</option>
                                                                    </select>
                                                                  </div>
                                                                  <div class="form-group">
                                                                      <label >marchandise</label>
                                                                      <select [(ngModel)]="transit.marchandise.id" name="marchandise_id" class="form-control">
                                                                        <option *ngFor="let marchandise of marchandises" [(ngValue)]="marchandise.id">{{marchandise.libelle}}</option>
                                                                      </select>
                                                                    </div>
                                                                  <div class="form-group">
                                                                      <label >societe</label>
                                                                      <select [(ngModel)]="transit.societe.id" name="societe_id" class="form-control">
                                                                        <option *ngFor="let societe of societes" [(ngValue)]="societe.id">{{societe.libelle}}</option>
                                                                      </select>
                                                                    </div>
                                                                    
                                                              </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <div class="payment-adress mg-t-15">
                                                                    <button type="submit" class="btn btn-primary waves-effect waves-light mg-b-15">Submit</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </main>