<main role="main">
    <div class="single-pro-review-area mt-t-30 mg-b-15">
            <div class="container-fluid">
                      
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="product-payment-inner-st">
                            <ul id="myTabedu1" class="tab-review-design">
                                <li class="active"><a >Ajouter un livraison</a></li>
                                
                                
                            </ul>
                            <div id="myTabContent" class="tab-content custom-product-edit">
                                <div class="product-tab-list tab-pane fade active in" id="description">
                                    <div class="row">
                                        <div  class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="review-content-section">
                                                    <div *ngIf="isLoading" class="spinner">
                                                            <div class="double-bounce1"></div>
                                                            <div class="double-bounce2"></div>
                                                          </div>
                                                          <div *ngIf="livraison&&!isLoading&&(transits?.length==0)" >
                                                                <p>Désolé aucun transit ne pourra <br> être affectées à la livraison <br> que vous essayez de créer. Veuillez Ajouter <a [routerLink]="['/transitsAdd']" routerLinkActive="active">un nouveau transit</a> Puis revenez ici pour réessayer.</p>
                                                              </div>  
                                                          <div *ngIf="sucess&&!isLoading" >
                                                                <p>Livraison ajoutée avec succès! <a [routerLink]="['/livraisons']" routerLinkActive="active" (click)="setTitle('Sociétés')">Voir les société.</a> </p>
                                                              </div>  
                                                    <form *ngIf="livraison&&!isLoading&&(transits.length>0)&&(etatsLivraisons.length>0)&&(lieuxLivraisons.length>0)" (ngSubmit)="onSubmit(livraisonAddForm)" #livraisonAddForm="ngForm" name=livraisonAddForm>
                                                        <div class="row">
                                                            <div class="col-lg-6">
                                                                <div class="form-group">
                                                                    <label for="">date de livraison demandée par la BB</label>
                                                                    <input name="dateLivrDemandeeParBB" [(ngModel)]="livraison.dateLivrDemandeeParBB" type="date" class="form-control" value="{{livraison?.dateLivrDemandeeParBB}}">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="">Date de report suite à un echec</label>
                                                                    <input name="dateReportApresEchecDeLivr" [(ngModel)]="livraison.dateReportApresEchecDeLivr" type="date" class="form-control" value="{{livraison?.dateReportApresEchecDeLivr}}" placeholder="{{livraison?.dateReportApresEchecDeLivr}}">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="">Date de comfirmation du fournisseur(société)</label>
                                                                    <input name="dateConfirmationFournisseur" [(ngModel)]="livraison.dateComfirmationFournisseur" type="date" class="form-control" value="{{livraison?.dateComfirmationFournisseur}}" placeholder="{{livraison?.dateComfirmationFournisseur}}">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="">date de livraison effective à la BB</label>
                                                                    <input name="dateLivrEffectiveBB" [(ngModel)]="livraison.dateLivrEffectiveBB" type="date" class="form-control" value="{{livraison?.dateLivrEffectiveBB}}" placeholder="{{livraison?.dateLivrEffectiveBB}}">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="">date de debut de stationnement</label>
                                                                    <input name="dateDebStationnement" [(ngModel)]="livraison.dateDebStationnement" type="date" class="form-control" value="{{livraison?.dateDebStationnement}}" placeholder="{{livraison?.dateDebStationnement}}">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="">date de début de Sures</label>
                                                                    <input name="dateDebSures" [(ngModel)]="livraison.dateDebSures" type="date" class="form-control" value="{{livraison?.dateDebSures}}" placeholder="{{livraison?.dateDebSures}}">
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <div class="form-group">
                                                                    <label for="inputState">transit</label>
                                                                    <select [(ngModel)]="livraison.transit.id" name="transit_id" class="form-control">
                                                                      <option *ngFor="let transit of transits" [(ngValue)]="transit.id">franchise: {{transit.franchise}}|contenace: {{transit.contenance}}|Arrivée: {{transit.dateArrivee}}</option>
                                                                    </select>
                                                                  </div>
                                                                  <div class="form-group">
                                                                      <label for="inputState">etat</label>
                                                                      <select [(ngModel)]="livraison.etatLivraison.id" name="etats_livraison_id" class="form-control">
                                                                        <option *ngFor="let etatLivraison of etatsLivraisons" [(ngValue)]="etatLivraison.id">{{etatLivraison.libelle}}</option>
                                                                      </select>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="inputState">lieu</label>
                                                                        <select [(ngModel)]="livraison.lieuLivraison.id" name="lieux_livraison_id" class="form-control">
                                                                          <option *ngFor="let lieuLivraison of lieuxLivraisons" [(ngValue)]="lieuLivraison.id">{{lieuLivraison.libelle}}</option>
                                                                        </select>
                                                                      </div>
                                                                <div class="form-group">
                                                                    <label for="">nombre de jour de stationnement</label>
                                                                    <input name="nombreJourDeStationnementSubi" [(ngModel)]="livraison.nombreJourDeStationnementSubi" type="text" class="form-control" value="{{livraison?.nombreJourDeStationnementSubi}}" placeholder="{{livraison?.nombreJourDeStationnementSubi}}">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="">nombre de jour de sures</label>
                                                                    <input name="nombreJourDeSuresSubi" [(ngModel)]="livraison.nombreJourSuresSubi" type="text" class="form-control" value="{{livraison?.nombreJourSuresSubi}}" placeholder="{{livraison?.nombreJourSuresSubi}}">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="">delai entre la date d'arrivee et la date de livraison</label>
                                                                    <input name="delaiDateArrDateLivr" [(ngModel)]="livraison.delaiDateArrDateLivr" type="number" class="form-control" value="{{livraison?.delaiDateArrDateLivr}}" placeholder="{{livraison?.delaiDateArrDateLivr}}">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="">commentaires</label>
                                                                    <input name="commentaires" [(ngModel)]="livraison.commentaires" type="text" class="form-control" value="{{livraison?.commentaires}}" placeholder="{{livraison?.commentaires}}">
                                                                </div>
                                                              </div>
                                                        </div>
                                                            <div class="row">
                                                                <div class="col-lg-12">
                                                                    <div class="payment-adress mg-t-15">
                                                                        <button type="submit" class="btn btn-primary waves-effect waves-light mg-b-15">Submit</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </main>